{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "camelcase": "error",
    "spaced-comment": "error",
    "linebreak-style": "error",
    "no-console": "error",
    "import/prefer-default-export": "off",
    "quotes": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "plugins": ["react", "jsx-a11y"]
}
