.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-component {
  position: fixed !important;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #7d4cdb;
}

.nav-wrapper {
  background-color: white;
  padding: 0px !important;
}

.header-wrapper {
  padding: 0px !important;
  background-color: #7D4CDB;;
}

.nav-link-border {
  border-bottom: 1px solid white;
}

.nav-link-border-less {
  border-bottom: 1px solid transparent;
}

.nav-link {
  color:white;
}

.page-wrapper {
  position: relative;
}

.router-wrapper {
  position: absolute;
  top: 85px;
  width: 100%;
}
