.header-component {
  position: fixed !important;
  width: 100%;
  z-index: $zindex-fixed;
  border-bottom: 1px solid #7d4cdb;
}

.nav-col {
  background-color: white;
}

.nav-wrapper {
  background-color: white;
  padding: 0px !important;
}

.header-wrapper {
  padding: 0px !important;
  background-color: #7D4CDB;;
}

.nav-link-border {
  border-bottom: 1px solid white;
}

.nav-link-border-less {
  border-bottom: 1px solid transparent;
}

.nav-link {
  color:white;
  &:hover {
    color: #FFFF00;
  }
}

.nav-link:hover {
  color: #FFFF00;
}