.devicon-git-plain {
  width: 4em;
  height: 4em;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
    &__link {
      display: block;
      width: 150px;
      box-shadow: 0 4px 8px #ccd3dd;
      justify-content: center;
    }
    &__box {
      padding: auto 0;
    }
    &__text {
      color: black;
    }
  }

  .grow {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

// @media (min-width: 992px) {
//   .skills-wrapper {
//     justify-content: space-between;
//   }
// }

@media (min-width: 1200px) {
  .skills-wrapper {
    justify-content: flex-start;
    &__link {
      margin: 10px;
    }
  }
}
