.devicon-git-plain {
  width: 4em;
  height: 4em;
  margin: 0 auto;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
  &__link {
    width: 150px;
    box-shadow: 0 4px 8px #ccd3dd;
    justify-content: center;
  }
  &__box {
    padding: auto 0;
  }
  &__text {
    color: black;
  }
}

.grow {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}