.devicon-git-plain {
  width: 4em;
  height: 4em;
  margin: 0 auto;
}

.skills__component {
  overflow-y: auto;
}

.last-section {
  min-height: 350px;
}

.skills-wrapper {
  &__link {
    display: inline-block;
    width: 150px;
    height: 180px;
    box-shadow: 0 4px 8px #ccd3dd;
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
    // &__link {
    //   width: 150px;
    // }
    &__box {
      padding: auto 0;
    }
    &__text {
      color: black;
    }
  }
}

@media (min-width: 1200px) {
  .skills-wrapper {
    justify-content: flex-start;
    &__link {
      margin: 10px;
    }
  }
}
