// Css Basics
@import './Basics.scss',
        './Typography.scss';


@import './index.scss',
        './App.scss';


// Component styles
@import './Nav.scss',
        './Skills.scss',
        './Education.scss';